# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

.minecraft/coremods
.minecraft/crash-reports
.minecraft/defaultconfigs
.minecraft/logs/*
.minecraft/resourcepacks
.minecraft/saves/*
.minecraft/schematics
.minecraft/screenshots
.minecraft/server-resource-packs
.minecraft/shaderpacks
.minecraft/texturepacks
.minecraft/options.txt
.minecraft/server.dat
.minecraft/server.dat_old
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/logs/latest.log
.minecraft/logs/debug.log
*.log
